<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changyu.foryou.mapper.DeliverComMapper" >
  <cache eviction="LRU" flushInterval="60000" size="512" readOnly="true" />
  <resultMap id="BaseResultMap" type="com.changyu.foryou.model.DeliverCom" >
    <id column="deliver_id" property="deliverId" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    deliver_id, category
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from deliver_com
    where deliver_id = #{deliverId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from deliver_com
    where deliver_id = #{deliverId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.changyu.foryou.model.DeliverCom" >
    insert into deliver_com (deliver_id, category)
    values (#{deliverId,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.changyu.foryou.model.DeliverCom" >
    insert into deliver_com
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deliverId != null" >
        deliver_id,
      </if>
      <if test="category != null" >
        category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deliverId != null" >
        #{deliverId,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.changyu.foryou.model.DeliverCom" >
    update deliver_com
    <set >
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
    </set>
    where deliver_id = #{deliverId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.changyu.foryou.model.DeliverCom" >
    update deliver_com
    set category = #{category,jdbcType=VARCHAR}
    where deliver_id = #{deliverId,jdbcType=INTEGER}
  </update>
  
  <!-- 获取快递公司列表 -->
  <select id="getDeliverCom" resultMap="BaseResultMap">
       select *
       from 
         deliver_com
       <if test="limit!=null and offset!=null">
       		 limit #{limit} offset #{offset}
       </if>
  </select>
</mapper>