<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changyu.foryou.mapper.ReceiverMapper">
	<resultMap id="BaseResultMap" type="com.changyu.foryou.model.Receiver">
		<id column="rank" property="rank" jdbcType="VARCHAR" />
		<id column="phone_id" property="phoneId" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="tag" property="tag" jdbcType="SMALLINT" />
		<result column="campus_id" property="campusId" jdbcType="INTEGER" />
		<result column="campus_name" property="campusName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		rank, phone_id, phone, name, address, tag,campus_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="com.changyu.foryou.model.ReceiverKey">
		select
		<include refid="Base_Column_List" />
		from receiver
		where rank = #{rank,jdbcType=VARCHAR}
		and phone_id = #{phoneId,jdbcType=VARCHAR}
		and is_out=0
	</select>
	<update id="deleteByPrimaryKey" parameterType="com.changyu.foryou.model.ReceiverKey">
		update receiver
		set is_out=1
		where rank = #{rank,jdbcType=VARCHAR}
		and phone_id = #{phoneId,jdbcType=VARCHAR}
	</update>
	<insert id="insert" parameterType="com.changyu.foryou.model.Receiver">
		insert into receiver (rank, phone_id, phone,
		name, address, tag,is_out,campus_id
		)
		values (#{rank,jdbcType=VARCHAR}, #{phoneId,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{tag,jdbcType=SMALLINT},0,
		#{campusId,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.changyu.foryou.model.Receiver">
		insert into receiver
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="rank != null">
				rank,
			</if>
			<if test="phoneId != null">
				phone_id,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="tag != null">
				tag,
			</if>
			<if test="1==1">
				is_out,
			</if>
			 
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="rank != null">
				#{rank,jdbcType=VARCHAR},
			</if>
			<if test="phoneId != null">
				#{phoneId,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="tag != null">
				#{tag,jdbcType=SMALLINT},
			</if>
			<if test="1==1">
				0,
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.changyu.foryou.model.Receiver">
		update receiver
		<set>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="tag != null">
				tag = #{tag,jdbcType=SMALLINT},
			</if>
			<if test="campusId!=null">
			    campus_id=#{campusId,jdbcType=INTEGER},
			</if>
		</set>
		where rank = #{rank,jdbcType=VARCHAR}
		and phone_id = #{phoneId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.changyu.foryou.model.Receiver">
		update receiver
		set phone = #{phone,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		tag = #{tag,jdbcType=SMALLINT}
		where rank = #{rank,jdbcType=VARCHAR}
		and phone_id = #{phoneId,jdbcType=VARCHAR}
	</update>


	<!-- 以下为新增 -->
	<update id="setDefaultAddress">
		update receiver
		set
		tag = 0
		where phone_id =
		#{phoneId,jdbcType=VARCHAR} and rank =
		#{rank,jdbcType=VARCHAR}
	</update>

	<select id="getReceiverCounts" resultType="Integer">
		select count(*)
		from
		receiver
		where phone_id = #{phoneId,jdbcType=VARCHAR}
		and is_out=0
	</select>

	<select id="selectByPhoneId" resultMap="BaseResultMap">
		select
		rank, phone_id, phone, name, address, tag,campus.campus_id,campus_name
		from receiver,campus
		where phone_id = #{phoneId,jdbcType=VARCHAR}
		and is_out =0
		and receiver.campus_id=campus.campus_id
		order by  tag ASC,rank ASC
	</select>

	<update id="setReceiverTag">
		update receiver
		set
		tag = 1
		where phone_id =
		#{phoneId,jdbcType=VARCHAR}
	</update>
	
	<!-- <select id="getReceiver" resultMap="BaseResultMap">
		select
		distinct
		receiver.rank, receiver.phone_id, receiver.phone, receiver.name, 
		receiver.address, receiver.tag,receiver.campus_id
		from orders,receiver
		where together_id=#{togetherId,jdbcType=VARCHAR}and orders.tag=1
		and receiver.rank=orders.rank  and is_out=0
	</select> -->
	
	<select id="getReceiver" resultMap="BaseResultMap">
		select 
		   <include refid="Base_Column_List" />
	    from 
	       receiver
	    where
	       rank = (
	           select rank 
	           from
	           orders
	           where together_id=#{togetherId,jdbcType=VARCHAR}
	           limit 1
	    )
	</select>

</mapper>